<%= turbo_frame_tag dom_id(bubble, :boosts) do %>
  <%= tag.div class: "pad-inline flex align-center gap" do %>
    <span class="overflow-ellipsis">
      <strong><%= bubble.boosts_count %></strong>
      <span><%= bubble.boosts_count == 1 ? "boost" : "boosts" %></span>
    </span>
  <% end %>
<% end %>
