<% workflow = bubble.bucket.workflow %>

<% if workflow %>
  <div class="card__stages flex flex-column max-width min-width pad-block">
    <% workflow.stages.each do |stage| %>
      <%= tag.span stage.name, class: ["overflow-ellipsis btn full-width justify-start workflow-stage txt-uppercase", { "workflow-stage--current": stage == bubble.stage }] %>
    <% end %>
  </div>
<% end %>
