<div class="popup__group flex align-center full-width gap-half overflow-ellipsis">
  <%= link_to new_collection_path, class: "btn popup__new popup__item", style: "view-transition-name: new-collection" do %>
    <%= icon_tag "add" %>
    <span>Add a new collection</span>
  <% end %>
  <hr class="full-width separator--horizontal margin-none" style="--border-color: transparent;">
</div>
