<div class="card__background">
  <%= image_tag bubble.image.presence || "", size: 120, data: { upload_preview_target: "image" } %>
</div>

<% if bubble.popped? %>
  <div class="card__popped flex flex-column">
    <span class="card__popped-title txt-uppercase"><%= bubble.pop.reason %></span>
    <strong><%= bubble.popped_at.strftime("%b %d, %Y") %></strong>
    <span>by <span class="card__popped-by"><%= bubble.popped_by.name %></span></span>
  </div>
<% end %>
